@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --tomato: hsl(4, 100%, 67%);
  --tomato-dark: hsl(343, 94%, 63%);
  --Dark-Slate-Grey: hsl(234, 29%, 20%);
  --charcoal-Grey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);
  --font-size: 16px;
  --font-weight-reg: 400;
  --font-weight-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  font-weight: var(--font-weight-reg);
  font-size: var(--font-size);
  line-height: 1.2;
}
img {
  display: block;
  max-width: 100%;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Dark-Slate-Grey);
  font-family: "Roboto", sans-serif;
}

.container {
  background-color: var(--White);
  display: flex;
  gap: 30px;
  max-width: 744px;
  padding: 30px;
  align-items: center;
  border-radius: 24px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.information {
  padding: 15px;
}
.information h1 {
  margin-bottom: 15px;
  font-size: 3rem;
  color: var(--Dark-Slate-Grey);
}
.information .tagline {
  margin-bottom: 15px;
  font-weight: var(--font-weight-reg);
}
.update-info {
  margin-bottom: 20px;
}
.update-info .flex-items {
  margin-block: 10px;
}
.flex-items {
  display: flex;
  align-items: center;
  gap: 10px;
}
.flex-items > p {
  white-space: nowrap;
}
.email .flex-items {
  justify-content: space-between;
}

.email {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.email label {
  font-weight: var(--font-weight-bold);
}
.email > span {
  display: inline;
  font-weight: var(--font-weight-bold);
}
.email input {
  outline: none;
  border: 1px solid var(--Grey);
  border-radius: 8px;
  padding: 15px;
}
.email button,
.popup button {
  margin-top: 10px;
  border: none;
  padding: 15px 10px;
  text-align: center;
  background-color: var(--Dark-Slate-Grey);
  color: var(--White);
  font-weight: var(--font-weight-bold);
  border-radius: 8px;
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.email button:hover,
.popup button:hover {
  background: linear-gradient(to right, var(--tomato-dark), var(--tomato));
  box-shadow: 0px 5px 20px -4px var(--tomato);
  /* background-color: var(--tomato); */
}
.content {
  display: flex;
  justify-content: center;
}
.content-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* MODAL */
.modal-container {
  width: 400px;
  background: var(--White);
  border-radius: 16px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 50px;
  color: var(--Dark-Slate-Grey);
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.popup {
  display: flex;
  text-align: left;
  flex-direction: column;
  gap: 20px;
}
.popup > img {
  width: 32px;
}
.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}
@media (max-width: 37.5em) {
  .container {
    flex-direction: column-reverse;
    padding: 0;
    border-radius: 0;
  }
  .content-image img {
    width: 100vw;
  }
  .information {
    padding: 20px;
  }
  .update-info {
    margin-block: 0 50px;
  }

  .modal-container {
    background: var(--White);
    width: 100%;
    height: 100%;
    border-radius: 0;
    padding: 35px;
    color: var(--Dark-Slate-Grey);
    transition: transform 0.4s, top 0.4s;
    visibility: hidden;
  }
  .popup {
    margin-block: 50px 0;
  }
  .open-popup {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
  }
  .popup button {
    margin-block: 150px 0;
  }
}
